@page
@model WebApplication12ayalabeeer.Pages.GroupMaster.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Speciality)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GroupId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GroupId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GroupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
